# for archive signature : wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -

clang-19
lldb-19
lld-19

libllvm-19-ocaml-dev
libllvm19
llvm-19
llvm-19-dev
llvm-19-doc
llvm-19-examples
llvm-19-runtime

clang-tools-19
clang-19-doc
libclang-common-19-dev
libclang-19-dev
libclang1-19
clang-format-19
python3-clang-19
clangd-19
clang-tidy-19

libllvmlibc-19-dev


flex
bison